@CHARSET "utf-8";

/* footer */
#footer{
	overflow : hidden;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;	
	padding: 30px 0 35px 0;
	font: normal 11px 'Nanum Gothic';
	background: #F6F6F6;
	clear: both;
}

#footer01 {
	width: 960px;
	margin: 0 auto;
	padding: 0;	
	text-align: left;
}

#footer-left{
	float: left;
	width: 680px;
}
#footer-left p{
	font-size: 12px;
	color: #666666;
}
#footer-left a:hover{
	color: #c8c8c8;
	font-weight:bold;
}
